@import "/src/variables.scss";

.placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  isolation: isolate;
}
.placeholder:after {
  content: "";
  /* height: 80vh;
  max-height: 80vw;
  aspect-ratio: 1 / 1; */
  width: 80vh;
  height: 80vh;
  max-width: 80vw;
  max-height: 80vw;
  position: absolute;
  background-image: url("/assets/images/stash.png");
  background-size: cover;
  border-radius: 50%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  animation: jiggle 2s alternate ease-in-out infinite;
  z-index: 1;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes jiggle {
  from {
    transform: rotate(-10deg);
  }
  to {
    transform: rotate(10deg);
  }
}
