@import "/src/variables.scss";

.placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  isolation: isolate;
}
.placeholder:before {
  content: "";
  width: 500vw;
  height: 500vh;
  position: absolute;
  background: linear-gradient(135deg, $primary 0% 40%, $secondary 60% 100%);
  animation: rotation 10s linear infinite;
  z-index: 0;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
