@import url("https://fonts.googleapis.com/css?family=Roboto");

.main {
  display: flex;
  justify-content: center;
  align-items: baseline;
  width: 100vw;
  height: 100vh;
  isolation: isolate;
}
.main > .title {
  width: 100vw;
  height: fit-content;
  box-sizing: border-box;
  border: solid white 0.4em;
  padding: 0.7em 1.5em;
  font-family: "Roboto";
  text-transform: uppercase;
  color: white;
}
.main > .title > h1,
.main > .title > h2 {
  padding: 0;
  margin: 0;
}
.main > .title > h2 {
  font-size: 3em;
}
.main > .title > h1 {
  font-size: 5em;
}
.main > .title > h1 > span {
  display: none;
}
.main > .title > h1::after {
  content: "title to replace";
}
